svg {
	font: 10px sans-serif;
}

.reference line{
	fill:none;
	stroke: #ccc;
	shape-rendering: crispEdges;
}

.axis path, .axis line{
	fill:none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.area{
	fill:rgb(70,130,180);
	stroke-width:1px;
}

